<!DOCTYPE html>
<html>
<head>
  <title>Schlock Music</title>
  <%= stylesheet_link_tag 'devise', media: 'all', 'data-turbolinks-track' => true %>
<body>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
